* {
  margin: 0;
  box-sizing: border-box;
}

*+* {
  margin-top: calc( $height-unit * 0.75 );

  @media (min-width: 768px) {
    margin-top: calc( $height-unit * 1.25 );
  }
}

body {
  margin: 0;
}
