.aside {
  display: inline-block;
  margin: 0;
  background: color( $color-lightest shade(10%) );
  line-height: 1.25;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    right: calc( $width-unit * 5 + 200px );
    display: block;
    width: 100px;
    height: 0.625em;
    border-bottom: 1px dashed color( $color-lightest shade(20%) );
  }

  &::after {
    content: attr(data-aside);
    position: absolute;
    right: calc( $width-unit * 5 );
    transform: translate(0, -55%);
    display: block;
    width: 200px;
    margin: 0;
    padding: $height-unit;
    font-size: 75%;
    background: color( $color-lightest shade(10%) );
    border: 1px dashed color( $color-lightest shade(20%) );
  }
}
