.figure {
  max-width: 100%;

  &--alignright {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    @media (min-width: 600px) {
      float: right;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @media (min-width: 768px) {
      max-width: 200px;
    }

    @media (min-width: 1024px) {
      max-width: 300px;
    }

    @media (min-width: 1500px) {
      margin-right: calc( 100% - 1050px);
    }
  }

  &__image-wrap {

  }

  amp-img&__image {
    border-radius: 0;
    max-width: 100%;
  }

  &__caption {
    margin-top: calc( $height-unit / 4 );
    color: $color-caption;
    font-size: 9px;
    letter-spacing: 0.05em;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
