.footnotes {
  max-width: 750px;
  color: $color-caption;
  font-size: 87.5%;

  hr {
    border-top: 1px solid $color-gray-light;
  }

  ol {
    padding-left: 0;
    counter-reset: footnotes;
    list-style: none;
  }

  li {
    position: relative;
    margin: 0;
    padding: calc( $font-size-default / 2 );
    padding-left: calc( $font-size-default * 2 );
    border: 1px solid transparent;
    border-radius: calc( $font-size-default / 2 );
    transition: 200ms all ease-in-out;

    &::before {
      counter-increment: footnotes;
      content: counter(footnotes);
      position: absolute;
      left: calc( $font-size-default / 2 );
      top: 10px;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: $color-caption;
      border: 0;
      border-radius: 50%;
      color: $color-lightest;
      font-size: 9px;
      font-weight: $font-weight-bold;
      line-height: 16px;
      text-align: center;
      text-decoration: none;
      transition: 200ms background-color linear;
    }
  }
}
