.footer {
  display: block;
  width: 100%;
  padding: calc( $height-unit * 2 ) calc( $width-unit * 5 );
  background-color: $color-gray-light;
  border-bottom: 1px solid color( $color-gray-light shade(5%) );
  border-top: 1px solid color( $color-gray-light shade(5%) );
  text-align: center;

  @media (min-width: 650px) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;

    &__meta {
      flex: 1 25%;
      min-width: calc( $width-unit * 25);
      padding-right: $height-unit;
      text-align: right;
    }

    &__bio {
      flex: 2 75%;
      min-width: calc( $width-unit * 75);
      margin-top: 0;
      padding: 0 calc( $height-unit * 2 );
      text-align: left;
    }
  }

  &__image {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__links {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 650px) {
      display: block;
      max-width: 125px;
      margin-top: 0;
      margin-right: 0;
      text-align: center;
    }
  }

  &__link {
    display: inline-block;
    max-width: 30px;
    margin: 0 $height-unit;

    @media (min-width: 650px) {
      max-width: 20px;
      margin: 0 calc( $height-unit / 2 );
    }

    &:hover,&:active,&:focus {
      outline: 0;

      path {
        fill: $color-darkest;
      }
    }
  }

  &__icon {
    width: 100%;

    path {
      fill: $color-text;
      transition: 200ms fill ease-in-out;
    }
  }

  h3&__heading {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc( $height-unit * 0.5 );

    @media (min-width: 650px) {
      margin: 0;
    }
  }

  &__worked-with {
    color: $color-caption;
    font-size: 8px;
    font-weight: $font-weight-light;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  amp-img&__worked-with-image {
    margin-top: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    max-width: 100%;
  }

  &__blurb {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 650px) {
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: 768px) {
      font-size: 85%;
    }
  }
}
