.highlight {
  clear: both;
  margin-bottom: calc( $height-unit * 2 );
  margin-top: calc( $height-unit * 2 );
  padding: calc( $height-unit * 1 ) calc( $width-unit * 5 );

  /* Add pseudo-padding so long lines aren’t crammed at the viewport edge. */
  border-right: 20px solid #272822;
  overflow-x: scroll;

  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  pre {
    width: 410px;
    color: $color-lightest;
    font-size: 80%;

    @media (min-width: 768px) {
      width: 600px;
      font-size: 95%;
    }
  }
}
