.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-conent: space-between;
  z-index: 10;

  &__link {
    flex: 1;
    margin: 0;
    margin-left: 2px;
    padding: calc( $height-unit / 2 ) calc( $width-unit * 1 );
    min-width: 55px;
    max-width: calc( $width-unit * 15 - 2px );
    background-color: color( $color-darkest tint(90%) );
    border-bottom: 4px solid $color-darkest;
    color: $color-darkest;
    font-family: $font-family-sans;
    font-size: 62.5%;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: 250ms all ease-in-out;

    @media (min-width: 768px) {
      padding: calc( $height-unit / 4 ) calc( $width-unit * 1 );
      line-height: 1.75;
      text-align: right;
    }

    &:hover,&:active,&:focus {
      outline: 0;
      padding-bottom: calc( $height-unit / 2 );
      padding-top: calc( $height-unit / 2 );
      margin-bottom: calc( $height-unit / 2 * -1 );
    }

    &--home {
      flex: 1;
      max-width: calc( $width-unit * 25 );
      min-width: 20px;
      margin-left: 0;
      color: $color-lightest;
      background-color: $color-darkest;
      font-family: $font-family-mono;
      font-weight: $font-weight-normal;

      &:hover,&:active,&:focus {
        margin-bottom: 0;
        padding-bottom: calc( $height-unit / 4 );
        padding-top: calc( $height-unit / 4 );
        color: $color-cms;
      }
    }

    &--front-end {
      background-color: color( $color-front-end tint(90%) );
      border-color: $color-front-end;
    }

    &--api {
      background-color: color( $color-api tint(90%) );
      border-color: $color-api;
    }

    &--build-tools {
      background-color: color( $color-build-tools tint(90%) );
      border-color: $color-build-tools;
    }

    &--devops {
      background-color: color( $color-devops tint(90%) );
      border-color: $color-devops;
    }

    &--cms {
      background-color: color( $color-cms tint(90%) );
      border-color: $color-cms;
    }
  }
}
