.post-list {
  &__header {
    padding: calc( $height-unit / 2 ) calc( $width-unit * 5 );
    background-color: $color-gray-light;
    text-align: center;
  }

  &__heading {
    font-size: 75%;
    font-weight: $font-weight-normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__article {
    margin-top: 2px;
    border-bottom: 2px solid $color-gray-light;

    &:first-child {
      margin-top: 0;
    }

    &--front-end { border-color: $color-front-end; }
    &--api { border-color: $color-api; }
    &--build-tools { border-color: $color-build-tools; }
    &--devops { border-color: $color-devops; }
    &--cms { border-color: $color-cms; }
  }

  &__read-more {
    display: block;
    margin-top: $height-unit;
    padding: calc( $height-unit * 0.25 ) $height-unit calc( $height-unit * 0.125 );
    text-align: center;
    background: color( $color-gray-light alpha(0%) );
    border: 2px solid $color-darkest;
    border-radius: 8px;
    color: $color-darkest;
    font-family: $font-family-sans;
    font-size: 90%;
    font-weight: $font-weight-bold;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    transition: 100ms all linear;

    @media (min-width: 360px) {
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 640px) {
      margin-left: 0;
      margin-right: 0;
    }

    &--front-end {
      border-color: $color-front-end;
      color: $color-front-end;

      &:hover,&:active,&:focus {
        background-color: $color-front-end;
      }
    }

    &--api {
      border-color: $color-api;
      color: $color-api;

      &:hover,&:active,&:focus {
        background-color: $color-api;
      }
    }

    &--build-tools {
      border-color: $color-build-tools;
      color: $color-build-tools;

      &:hover,&:active,&:focus {
        background-color: $color-build-tools;
      }
    }

    &--devops {
      border-color: $color-devops;
      color: $color-devops;

      &:hover,&:active,&:focus {
        background-color: $color-devops;
      }
    }

    &--cms {
      border-color: $color-cms;
      color: $color-cms;

      &:hover,&:active,&:focus {
        background-color: $color-cms;
      }
    }

    &:hover,&:active,&:focus {
      color: $color-lightest;
      outline: 0;
    }
  }
}
