.series-nav {
  padding: 0;

  &__item {
    position: relative;
    display: block;
    max-width: 750px;
    margin-top: $height-unit;
    line-height: 1.25;

    &--current {
      padding-right: 85px;
      font-weight: $font-weight-bold;

      a {
        text-decoration: none;
      }

      &::after {
        content: '← YOU ARE HERE';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        padding: 2px 0 2px 4px;
        background-color: $color-text;
        border-radius: 0.125rem;
        color: $color-lightest;
        font-size: 8px;

        .article--front-end & {
          background-color: $color-front-end;
        }

        .article--api & {
          background-color: $color-api;
        }

        .article--build-tools & {
          background-color: $color-build-tools;
        }

        .article--devops & {
          background-color: $color-devops;
        }

        .article--cms & {
          background-color: $color-cms;
        }
      }
    }

    @media (min-width: 650px) {
      margin-left: 85px;

      &--current {
        padding-right: 0;

        &::after {
          content: 'YOU ARE HERE →';
          right: auto;
          left: -90px;
        }
      }
    }
  }

  &__link {

  }
}
