// {{ if (isset .Page.Params "series") }}
ul.series-nav
  // {{ range sort (where .Site.Pages "Params.series" .Page.Params.series) "Params.series_order" "asc" }}
  li.series-nav__item(
    class!= '{{ if eq .Params.series_title $.Page.Params.series_title }}series-nav__item--current{{ end }}'
  )
    a.series-nav__link(
      href="{{ .Permalink }}"
    ) Part {{ .Params.series_order }}: {{ index .Params "series_title" | default .Title }}
  // {{ end }}
// {{ end }}
