extends ../pug-includes/default.pug

block append config
  -
    config.type = 'page';
  -

block article
  -
    const article = {
      meta: {
        readingTime: '{{ .ReadingTime }}',
      },
    };
  -
  | {{ $baseurl := .Site.BaseURL }}
  | {{ $datetime := .Date.Format "2006-01-02T15:04:05Z07:00" }}
  header.article__header(
    class=`article__header--page`
  )
    .article__heading-group
      h1.article__heading {{ .Title }}
      p.article__subheading {{ .Params.subtitle }}
    dl.article__meta-group(
      class=`meta meta--page`
    )


  aside.article__table-of-contents
    h4.article__table-of-contents-heading On This Page:
    | {{ .TableOfContents }}

  article.article__content(
    class= `article__content--page`
  )
    | {{ .Content }}

    | {{ if (isset .Params "repo_url") }}
    section.article__discussion
      h2.article__discussion-heading
        | Questions? Ideas? Spotted a Bug?
      p.article__discussion-text.
          The code in this article is hosted on GitHub. You can 
          #[a(href="{{ .Params.repo_url }}") fork the repo] to modify or test 
          it, #[a(href="{{ .Params.repo_url }}/issues") open an issue] to report
          bugs, or 
          #[a(href="{{ .Params.repo_url }}/compare") create a pull request] to
          suggest improvements or modifications.
    | {{ end }}
