extends ../pug-includes/list.pug

block append config
  -
    config.type = '{{ with .Params.category }}{{ . }}{{ end }}';
  -

block title
  | {{ index (index .Site.Data.category (urlize .Title) ) "title" }}

block meta_description
  meta(
    name="description"
    content!= '{{ index (index .Site.Data.category (urlize .Title) ) "description" }}'
  )

block list-header-heading
  | These Posts Are About {{ index (index $.Site.Data.category (urlize .Title)) "name" }}
