extends ../pug-includes/list.pug

block append config
  -
    config.type = '{{ with .Params.language }}{{ . }}{{ end }}';
  -

block list-header-heading
  | {{ range first 1 .Paginator.Pages }}{{ .Title }}{{ end }} — A {{ len .Paginator.Pages }}-Part Series

block list-posts
  //
    {{ range sort .Paginator.Pages "Params.series_order" "asc" }}
  |     {{- partial "article-preview" . -}}
  //
    {{ end }}
