extends ../pug-includes/default.pug

block append config
  -
    config.type = '{{ with .Params.category }}{{ . }}{{ end }}';
  -

block article
  -
    const article = {
      meta: {
        readingTime: '{{ .ReadingTime }}',
      },
    };
  -
  // {{ $catSlug := (urlize .Params.category) }}
  // {{ $baseurl := .Site.BaseURL }}
  // {{ $datetime := .Date.Format "2006-01-02T15:04:05Z07:00" }}
  header.article__header(
    class=`article__header--{{ $catSlug }}`
  )
    .article__heading-group
      h1.article__heading {{ .Title }}
      p.article__subheading {{ .Params.subtitle | markdownify }}
    dl.article__meta-group(
      class=`meta meta--{{ $catSlug }}`
    )
      dt.meta__label.sr-only Date:
      dl.meta__item.meta__item--date
        time(datetime=`{{ $datetime }}`) {{ .Date.Format "Jan 2, 2006" }}
      dt.meta__label.sr-only Main Topic:
      dl.meta__item.meta__item--category
        | {{ index (index $.Site.Data.category $catSlug) "name" }}

      // {{ if .Params.tag }}
      dt.meta__label.sr-only Tags:
      dl.meta__item.meta__item--tags
        // {{ range .Params.tag }}
        a.meta__tag(href="{{ $baseurl }}tag/{{ . | urlize }}/") {{ . }}
        |  
        // {{ end }}
      // {{ end }}


  aside.article__table-of-contents
    h4.article__table-of-contents-heading In This Article:
    | {{ .TableOfContents }}

  article.article__content(
    class= `article__content--{{ $catSlug }}`
  )
    // {{ if (isset .Params "videoid") }}
    section.article__video
      amp-youtube(
        data-videoid!=`{{ .Params.videoid }}`
        width="480"
        height="300"
        layout="responsive"
      )
    // {{ end }}
    | {{ .Content }}

    // {{ if (isset .Params "pen_id") }}
    section.article__discussion
      h2.article__discussion-heading
        | Question? Ideas for improvements? Spotted a bug?
      p.article__discussion-text.
        The code in this article is #[a(href="http://codepen.io/jlengstorf/pen/{{ .Params.pen_id }}") available on Codepen]. You can #[a(href="http://codepen.io/jlengstorf/details/{{ .Params.pen_id }}") add a comment, fork, or favorite] this pen. I'd really love to hear your ideas for optimizations, improvements, or improved clarity.
    // {{ end }}

    // {{ if (isset .Params "repo_url") }}
    section.article__discussion
      h2.article__discussion-heading
        | Questions? Ideas? Spotted a Bug?
      p.article__discussion-text.
          The code in this article is hosted on GitHub. You can 
          #[a(href="{{ .Params.repo_url }}") fork the repo] to modify or test 
          it, #[a(href="{{ .Params.repo_url }}/issues") open an issue] to report
          bugs, or 
          #[a(href="{{ .Params.repo_url }}/compare") create a pull request] to
          suggest improvements or modifications.
    // {{ end }}
