@font-face {
  font-family: 'mallory';
  src: url('/fonts/Mallory-Book.eot');
  src: url('/fonts/Mallory-Book.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Mallory-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mallory';
  src: url('/fonts/Mallory-Bold.eot');
  src: url('/fonts/Mallory-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Mallory-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mallory';
  src: url('/fonts/Mallory-Black.eot');
  src: url('/fonts/Mallory-Black.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Mallory-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'mallory-microplus';
  src: url('/fonts/MalloryMP-Book.eot');
  src: url('/fonts/MalloryMP-Book.eot?#iefix') format('embedded-opentype'),
       url('/fonts/MalloryMP-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mallory-microplus';
  src: url('/fonts/MalloryMP-BookItalic.eot');
  src: url('/fonts/MalloryMP-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/MalloryMP-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mallory-microplus';
  src: url('/fonts/MalloryMP-Bold.eot');
  src: url('/fonts/MalloryMP-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/MalloryMP-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mallory-microplus';
  src: url('/fonts/MalloryMP-BoldItalic.eot');
  src: url('/fonts/MalloryMP-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/MalloryMP-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
