html,body {
  color: $color-text;
  font-family: $font-family-sans;
  font-size: $font-size-default;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media $viewport-sm {
    font-size: calc( $font-size-default * 1.25 );
  }
}

pre,code {
  font-family: $font-family-mono;
  text-transform: none;
}
/*
h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-heading;
  line-height: 1;

  &:not(:first-child) {
    margin-top: calc( $height-unit * 2 );

    @media (min-width: 768px) {
      margin-top: calc( $height-unit * 3 );
    }
  }
}

h1,h2 {
  color: $color-darkest;
}

h2 {
  font-size: 175%;
}

h3 {
  color: color( $color-text shade(15%) );
  font-size: 125%;
}

h4 {
  padding-bottom: calc( $height-unit / 4 );
  border-bottom: 1px solid color( $color-text tint(80%) );
  font-size: 100%;
  font-weight: $font-weight-normal;
  letter-spacing: 0.05em;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 90%;
  }
}
*/


h1,h2,h3,h4,h5,h6 {
  color: $color-darkest;
  font-family: $font-family-heading;
  line-height: 1;
}

h2,h3 {
  + * {
    margin-top: calc( $height-unit / 2 );

    @media $viewport-sm {
      margin-top: calc( $height-unit / 3 );
    }
  }
}

*:not(.figure) {
  + h2:not([class]),+ h3:not([class]),+ h4:not([class]),
  + h5:not([class]),+ h6:not([class]) {
    margin-top: calc( $height-unit * 2 );
  }
}

h1 {
  font-size: 275%;

  /*@media $viewport-xs {
    font-size: calc( $font-size-default * 2.5 );
  }*/
}

h2 {
  /*font-family: $font-family-script;*/
  font-size: 175%;
  font-weight: $font-weight-bold;

  strong {
    font-weight: $font-weight-normal;
  }
}

h3 {
  font-size: 125%;
  font-weight: $font-weight-ultra;
  text-transform: uppercase;
}

h4 {
  color: $color-caption;
  font-size: 115%;
  font-weight: $font-weight-normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

sup {
  position: relative;
  top: -0.5rem;
  margin: 0 0.25em;
  font-size: calc( $font-size-default * 0.75 );
  line-height: 0.75;
  vertical-align: baseline;

  >a[rel] {
    display: inline-block;
    height: 14px;
    width: 14px;
    background-color: $color-caption;
    border: 0;
    border-radius: 50%;
    color: $color-lightest;
    font-size: 9px;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    transition: 200ms background-color linear;

    &:hover,&:active,&:focus {
      background-color: $color-darkest;
      border: 0;
      outline: none;
    }
  }
}

ul,ol {
  & ul,& ol {
    margin-top: calc( $height-unit / 4 );
    margin-bottom: calc( $height-unit / 2 );
  }
}

li {
  margin-top: calc( $height-unit / 4 );
}

aside {
  font-family: $font-family-sans;
}

code {
  display: inline-block;
  margin-top: 0;
  padding: 0 0.25em;
  background: $color-gray-light;
  border: 1px solid color( $color-gray-light shade(10%) );
  border-radius: 4px;
  font-size: 100%;
  line-height: 1.375;
}

.code-caption {
  margin-top: -1.75rem;
  color: $color-caption;
  font-size: 9px;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-transform: uppercase;

  a {
    color: inherit;
  }
}
