/*
 * # Site Variables
 */

/*
 * ## Breakpoints
 */
$viewport-xs: (min-width: 480px);
$viewport-sm: (min-width: 768px);
$viewport-md: (min-width: 1024px);
$viewport-lg: (min-width: 1280px);
$viewport-xl: (min-width: 1400px);

$res-2x: (-webkit-min-device-pixel-ratio: 1.5),  (min-resolution: 144dpi);

/*
 * ## Colors
 */
$color-darkest: #110117;
$color-lightest: #FFF;
$color-gray-light: #FAF8FD;
$color-front-end: #C319FF;
$color-api: #1999FF;
$color-build-tools: #65E200;
$color-devops: #FF8A00;
$color-cms: #FF2414;

$color-text: color( $color-darkest tint(30%) );
$color-caption: color( $color-text tint(30%) );


/*
 * ## Fonts
 */
$font-family-serif: serif;
$font-family-sans: "mallory-microplus", sans-serif;
$font-family-heading: "mallory", sans-serif;
$font-family-mono: monospace;
$font-size-default: 14px;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-ultra: 800;


/*
 * ## Measurements
 */
$height-unit: 1rem;
$width-unit: 1vw;
